.center-container-hx,.footer {
    box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);
}

.contents {margin-top:20px;}

* {word-wrap:break-word;}

.comments{
    width:70%

.container {
    padding-right: 20px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .comments {
        width: 400px
    }
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 970px
    }
}

}
